﻿@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Charity NGO - Donation & Nonprofit NGO Charity Templates</title>
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicons -->
    <link rel="shortcut icon" sizes="16x16" href="/assets/img/favicon.ico">
    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" href="/assets/css/Simple-Line-Icons-Webfont/simple-line-icons.css" media="screen">
    <link rel="stylesheet" href="/assets/css/et-line-font/et-line-font.css">
    <!-- MENU CSS -->
    <link rel="stylesheet" href="/assets/css/menuzord.css">
    <!-- FONT AWESOME -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <!-- Prettyphoto-->
    <link rel="stylesheet" href="/assets/css/prettyphoto.css">
    <!--Master slider-->
    <link href="master-slider/style/masterslider.css" rel="stylesheet">
    <link href="master-slider/skins/default/style.css" rel="stylesheet">
    <!-- OWL STYLE CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.css">
    <!-- Stylesheet -->
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
    <!-- Responsive -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <!-- Animate.min -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.min.css">
    <!-- Revolution Style -->
    <link rel="stylesheet" type="text/css" href="revolution/css/settings.css">
    <link rel="stylesheet" type="text/css" href="revolution/css/layers.css">
</head>
<body>
    <!-- Preloader start-->
    <div id="preloader">
        <div id="loader"></div>
    </div>
    <!-- Preloader end-->
    <!-- Nav Bar-->
    <nav class="navbar-fixed-top transparrent-bg">
        <div class="container">
            <div id="menuzord" class="menuzord red">
                <a href="home-1.html" class="menuzord-brand"><img class="changeable" src="/assets/img/logo-2.png" alt=""></a>
                <ul class="menuzord-menu mp_menu">
                    <li class="active">
                        <a href="#">HOME</a>
                        <ul class="dropdown">
                            <li><a href="home_1.html">Home 1</a></li>
                            <li><a href="home_2.html">Home 2</a></li>
                            <li><a href="home_3.html">Home 3</a></li>
                            <li><a href="home_4.html">Home 4</a></li>
                            <li><a href="home_5.html">Home 5</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">PAGES</a>
                        <div class="megamenu">
                            <div class="megamenu-row">
                                <div class="col3">
                                    <div class="megamenu_list_item">
                                        <ul>
                                            <li><a href="about_1.html">About Us 1</a></li>
                                            <li><a href="about_2.html">About Us 2</a></li>
                                            <li><a href="about_3.html">About Us 3</a></li>
                                            <li><a href="volunteer.html">Volunteer Team</a></li>
                                            <li><a href="faq_1.html">Faq 1</a></li>
                                            <li><a href="faq_2.html">Faq 2</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col3">
                                    <div class="megamenu_list_item">
                                        <ul>
                                            <li><a href="gallery_1.html">Gallery 1</a></li>
                                            <li><a href="gallery_2.html">Gallery 2</a></li>
                                            <li><a href="gallery_3.html">Gallery 3</a></li>
                                            <li><a href="feature_1.html">Features 1</a></li>
                                            <li><a href="feature_2.html">Features 2</a></li>
                                            <li><a href="feature_3.html">Features 3</a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col3">
                                    <div class="megamenu_list_item">
                                        <ul>
                                            <li><a href="contact_1.html">Contact 1</a></li>
                                            <li><a href="contact_2.html">Contact 2</a></li>
                                            <li><a href="contact_3.html">Contact 3 </a></li>
                                            <li><a href="login.html">login 1</a></li>
                                            <li><a href="login_register.html">login 2</a></li>
                                            <li><a href="from.html">Shortcode from </a></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col3">
                                    <div class="megamenu_list_item"> <img src="/assets/img/menu_bg.jpg" alt=""></div>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Causes</a>
                        <ul class="dropdown">
                            <li><a href="causes_1.html">Causes 1</a></li>
                            <li><a href="causes_2.html">Causes 2</a></li>
                            <li><a href="causes_3.html">Causes 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">PORTFOLIO</a>
                        <ul class="dropdown">
                            <li><a href="portfolio_1.html">Portfolio 1</a></li>
                            <li><a href="portfolio_2.html">Portfolio 2</a></li>
                            <li><a href="portfolio_3.html">Portfolio 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Events</a>
                        <ul class="dropdown">
                            <li><a href="events_1.html">Events 1</a></li>
                            <li><a href="events_2.html">Events 2</a></li>
                            <li><a href="events_3.html">Events3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">Shop</a>
                        <ul class="dropdown">
                            <li><a href="shop_1.html">Shop 1</a></li>
                            <li><a href="shop_2.html">Shop 2</a></li>
                            <li><a href="shop_3.html">Shop 3</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="javascript:void(0)">BLOG</a>
                        <ul class="dropdown">
                            <li><a href="blog_1.html">Blog 1</a></li>
                            <li><a href="blog_2.html">Blog 2</a></li>
                            <li><a href="blog_3.html">Blog 3</a></li>
                            <li><a href="blog_4.html">Blog 4</a></li>
                        </ul>
                    </li>
                    <li style="height: 1px" class="scrollable-fix"></li>
                </ul>
                <div class="right_mp_menu"> <a href="#" class="theme-btn btn-style-pinks-nav" data-toggle="modal" data-target="#donate-popup"><i class="fa fa-heart-o"></i> Donate Now</a> </div>
            </div>
        </div>
    </nav>
    <!-- END Nav Bar -->
    <!-- Banner -->
    <div id="particle" class="welcome-image-area particle-bg" data-stellar-background-ratio="0.6">
        <div id="particles-js"></div>
        <div class="display-table">
            <div class="display-table-cell">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="header-text text-center">
                                <h1>Help children</h1>
                                <hr>
                                <p class="white">Lorem Ipsum is simply dummy text of the <br>printing and typesetting ...</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End-Banner -->
    <!-- Demo Heading -->
    <div class="main-area top-download text-center ">
        <div class="container">
            <div class="row">
                <div class="col-md-3 goal"> Goal Cause 300,000$ </div>
                <div class="col-md-3 achiv"> Achieved 600,000$ </div>
                <div class="col-md-4 all-goal"> 50% of our Goal -- 4 Donation </div>
                <div class="col-md-2 "> <a href="#" class="theme-btn btn-style-white" data-toggle="modal" data-target="#donate-popup"> <i class="fa fa-long-arrow-right" aria-hidden="true"></i> Recent Case</a> </div>
            </div>
        </div>
    </div>
    <!-- END Demo Heading -->
    <!--Main Features-->
    <div class="main-features">
        <div class="container">
            <div class="section-title center">
                <h2>
                    Help <strong>Poor Children</strong><br>
                    <span class="pink">Charity</span> Nonprofit Templates
                </h2>
                <hr>
                <p class="para">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. <strong>Lorem Ipsum has been the industry's standard dummy </strong>text
                    ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="row clearfix">

                <!--Default Icon Column-->
                <div class="default-icon-column col-lg-3 col-sm-6 col-xs-12">
                    <article class="inner-box">
                        <div class="icon-box">
                            <div class="ico"> <span class="icon-heart"></span></div>
                        </div>
                        <h3 class="text-center">Become a volunteer</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,</p>
                    </article>
                </div>

                <!--Default Icon Column-->
                <div class="default-icon-column col-lg-3 col-sm-6 col-xs-12">
                    <article class="inner-box">
                        <div class="icon-box">
                            <div class="ico"> <span class="icon-lightbulb"></span></div>
                        </div>
                        <h3 class="text-center">Get Involved</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,</p>
                    </article>
                </div>

                <!--Default Icon Column-->
                <div class="default-icon-column col-lg-3 col-sm-6 col-xs-12">
                    <article class="inner-box">
                        <div class="icon-box">
                            <div class="ico"> <span class="icon-happy"></span></div>
                        </div>
                        <h3 class="text-center">Fundrising</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,</p>
                    </article>
                </div>

                <!--Default Icon Column-->
                <div class="default-icon-column col-lg-3 col-sm-6 col-xs-12">
                    <article class="inner-box">
                        <div class="icon-box">
                            <div class="ico"> <span class="icon-gift"></span></div>
                        </div>
                        <h3>Make a Gift</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,</p>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- END Features -->
    <!-- About Project  -->
    <div id="benefit" class="benefit ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 benefit-right no-pad">
                    <div class="benefit-text no-pad">
                        <div class="benefit-heading ">
                            <div class="col-md-12 col-sm-12">
                                <h3>We are <span class="pink"><strong>Helping Hands</strong></span></h3>
                                <div class="project-text">Lorem ipsum dolor sit amet, </div>
                                <p class="para">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur! </p>
                            </div>
                            <div class="col-md-4 col-sm-12 text-center">
                                <div class="benefit-orange"> <i class="fa fa-user-plus"></i> </div>
                                <div class="benefit-text-i">
                                    <h4>Adoption</h4>
                                </div>
                            </div>
                        </div>
                        <div class="benefit-heading">
                            <div class="col-md-4 col-sm-12">
                                <div class="benefit-blue "> <i class="fa fa-graduation-cap"></i> </div>
                                <div class="benefit-text-i">
                                    <h4>Education</h4>
                                </div>
                            </div>
                        </div>
                        <div class="benefit-heading">
                            <div class="col-md-4 col-sm-12">
                                <div class="benefit-green"> <i class="fa fa-coffee"></i> </div>
                                <div class="benefit-text-i">
                                    <h4>Help & Support</h4>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- END About  -->
    <!--Recent Case -->
    <div class="events-section latest-events">
        <div class="container">
            <div class="section-title center">
                <h2>Recent<strong> Case</strong></h2>
                <hr>
                <p class="para">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. <strong>Lorem Ipsum has been the industry's standard dummy </strong>text
                    ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="row clearfix">
                <!--Featured Column-->
                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box"> <a href="#"><img src="/assets/img/featured-image-1.jpg" alt=""></a> </figure>
                        <div class="content-box">
                            <div class="skill">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="75"> <span class="percent">75</span> </span> </div>
                                </div>
                            </div>
                            <h3><a href="#">Happy Every Child</a></h3>
                            <p>Lorem ipsum dolor sit amet,</p>
                            <div class="column-info"> <span class="black">$7,500 Raised of</span> / $10,000 Goal</div>
                            <a href="#" class="theme-btn btn-style-pink" data-toggle="modal" data-target="#donate-popup"> <i class="fa fa-heart-o"></i> Donate Now</a>
                        </div>
                    </article>
                </div>

                <!--Featured Column-->
                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box"> <a href="#"><img src="/assets/img/featured-image-2.jpg" alt=""></a> </figure>
                        <div class="content-box">
                            <div class="skill">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="50"> <span class="percent">50</span> </span> </div>
                                </div>
                            </div>
                            <h3><a href="#">Education Every Child</a></h3>
                            <p>Lorem ipsum dolor sit amet,</p>
                            <div class="column-info"> <span class="black">$5,000 Raised of</span> / $10,000 Goal</div>
                            <a href="#" class="theme-btn btn-style-pink" data-toggle="modal" data-target="#donate-popup"><i class="fa fa-heart-o"></i> Donate Now</a>
                        </div>
                    </article>
                </div>

                <!--Featured Column-->
                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box"> <a href="#"><img src="/assets/img/featured-image-3.jpg" alt=""></a> </figure>
                        <div class="content-box">
                            <div class="skill">
                                <div class="row">
                                    <div class="col-md-4 col-sm-6 skill"> <span class="chart" data-percent="75"> <span class="percent">75</span> </span> </div>
                                </div>
                            </div>
                            <h3><a href="#">Every Child Treament</a></h3>
                            <p>Lorem ipsum dolor sit amet,</p>
                            <div class="column-info"> <span class="black">$7,500 Raised of</span> / $10,000 Goal</div>
                            <a href="#" class="theme-btn btn-style-pink" data-toggle="modal" data-target="#donate-popup"> <i class="fa fa-heart-o"></i> Donate Now</a>
                        </div>
                    </article>
                </div>
                <!--Featured Column-->

            </div>
        </div>
    </div>
    <!-- END Recent Case -->
    <!-- Achivement  -->
    <div id="achivements" class="text-center ">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="row">
                        <div class="col-md-3 col-sm-3">
                            <div class="achivement-box">
                                <div class="ico"> <span class="icon-trophy"></span></div>
                                <span class="count">340</span>
                                <h4>Successful Project</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="achivement-box">
                                <div class="ico"> <span class="icon-megaphone"></span> </div>
                                <span class="count">$75000</span>
                                <h4>Money Donated</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="achivement-box">
                                <div class="ico"> <span class="icon-happy"></span> </div>
                                <span class="count">900</span>
                                <h4>People Impacted</h4>
                            </div>
                        </div>
                        <div class="col-md-3 col-sm-3">
                            <div class="achivement-box">
                                <div class="ico"> <span class="icon-basket"></span> </div>
                                <span class="count">115</span>
                                <h4>Total Voluneers</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Achivement  -->
    <!--Events -->
    <div class="events-section latest-events">
        <div class="container">
            <div class="section-title center">
                <h2>Latest<strong> Event</strong></h2>
                <hr>
                <p class="para">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. <strong>Lorem Ipsum has been the industry's standard dummy </strong>text
                    ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="row clearfix">

                <!--Featured Column-->

                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms">
                        <figure class="image-box"> <a href="#"><img src="/assets/img/event_1.jpg" alt=""></a> </figure>
                        <div class="content-box">
                            <h3><a href="#">Stay tuned about cause</a></h3>
                            <div class="column-info">13-14 Feb in Sanfransico, CA</div>
                            <p>Lorem ipsum dolor sit amet, eu qui modo expeten dis reformidans, ex sit appetere sententiae.. </p>
                            <a href="#" class="theme-btn btn-style-pink">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </article>
                </div>

                <!--Featured Column-->
                <div class="column default-featured-column style-two col-lg-4 col-md-6 col-sm-6 col-xs-12">
                    <article class="inner-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms">
                        <figure class="image-box"> <a href="#"><img src="/assets/img/event_2.jpg" alt=""></a> </figure>
                        <div class="content-box">
                            <h3><a href="#">Our Children In School</a></h3>
                            <div class="column-info">13-14 Feb in Sanfransico, CA</div>
                            <p>Lorem ipsum dolor sit amet, eu qui modo expeten dis reformidans, ex sit appetere sententiae.. </p>
                            <a href="#" class="theme-btn btn-style-pink">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                        </div>
                    </article>
                </div>

                <!--Cause Column-->

                <div class="column default-featured-column links-column col-lg-4 col-md-6 col-sm-12 col-xs-12">
                    <article class="inner-box">
                        <div class="vertical-links-outer">
                            <div class="link-block">
                                <div class="default inner">
                                    <figure class="image-thumb"><img src="/assets/img/post-thumb-1.jpg" alt=""></figure>
                                    <strong>Playing For World</strong><span class="para">Lorem ipsum dolor sit amet et siu amet sio audiam si copiosaei mei purto </span>
                                </div>
                                <a href="#" class="alternate"><strong>Playing For World</strong> <span class="para">Lorem ipsum dolor sit amet et siu amet sio audiam si copiosaei mei purto </span></a>
                            </div>
                            <div class="link-block">
                                <div class="default inner">
                                    <figure class="image-thumb"><img src="/assets/img/post-thumb-2.jpg" alt=""></figure>
                                    <strong>Playing For World</strong><span class="desc">Lorem ipsum dolor sit amet et siu amet sio audiam si copiosaei mei purto </span>
                                </div>
                                <a href="#" class="alternate"><strong>Playing For World</strong><span class="para">Lorem ipsum dolor sit amet et siu amet sio audiam si copiosaei mei purto </span></a>
                            </div>
                            <div class="link-block">
                                <div class="default inner">
                                    <figure class="image-thumb"><img src="/assets/img/post-thumb-3.jpg" alt=""></figure>
                                    <strong>Playing For World</strong><span class="desc">Lorem ipsum dolor sit amet et siu amet sio audiam si copiosaei mei purto </span>
                                </div>
                                <a href="#" class="alternate"><strong>Playing For World</strong><span class="para">Lorem ipsum dolor sit amet et siu amet sio audiam si copiosaei mei purto </span></a>
                            </div>
                            <div class="link-block">
                                <div class="default inner">
                                    <figure class="image-thumb"><img src="/assets/img/post-thumb-4.jpg" alt=""></figure>
                                    <strong>Playing For World</strong><span class="desc">Lorem ipsum dolor sit amet et siu amet sio audiam si copiosaei mei purto </span>
                                </div>
                                <a href="#" class="alternate"><strong>Playing For World</strong><span class="para">Lorem ipsum dolor sit amet et siu amet sio audiam si copiosaei mei purto </span></a>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
    </div>
    <!-- END Events -->
    <!-- About  -->
    <div id="about-working" class="text-center ">
        <div class=" container-fluid">
            <div class="row">
                <div class="col-md-6 col-sm-12 working no-pad img-responsive ">
                    <div class="lead  col-sm-12 col-xm-12 text-center ">
                        <div class="video-about">
                            <div class="about-buttons-2"> <a href="https://www.youtube.com/watch?v=nrJtHemSPW4" class="prettyphoto  btn text-center"><i class="fa fa-play"></i> </a> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-12 no-pad">
                    <div class="benefit-text no-pad">
                        <div class="col-md-12 col-sm-12  no-pad">
                            <!--Nav Tab-->
                            <div class="tab-wrap">
                                <div class="media">
                                    <div class="parrent pull-left">
                                        <ul class="nav nav-tabs nav-stacked">
                                            <li class=""><a href="#tab1" data-toggle="tab" class="analistic-01"><i class="fa fa-search"></i> Find Volunteer</a></li>
                                            <li class="active"><a href="#tab2" data-toggle="tab" class="analistic-02"> <i class="fa fa-heart"></i> Donation</a></li>
                                            <li class=""><a href="#tab3" data-toggle="tab" class="tehnical"><i class="fa fa-pencil "></i> Education</a></li>
                                            <li class=""><a href="#tab4" data-toggle="tab" class="tehnical"><i class="fa fa-coffee"></i> User Friendly </a></li>
                                            <li class=""><a href="#tab5" data-toggle="tab" class="tehnical"><i class="fa fa-life-ring"></i> Quick Support</a></li>
                                        </ul>
                                    </div>
                                    <div class="parrent media-body">
                                        <div class="tab-content">
                                            <div class="tab-pane fade" id="tab1">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="list-o">
                                                            <h4>Find Volunteer</h4>
                                                            <hr>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </p>
                                                            <ul>
                                                                <li>
                                                                    <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                    temporibus qui quibusdam, recusandae sit vero unde,
                                                                    sed, incidunt et ea quo dolore laudantium consectetur!
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                    temporibus qui quibusdam, recusandae sit vero unde,
                                                                    sed, incidunt et ea quo dolore laudantium consectetur!
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                    temporibus qui quibusdam, recusandae sit vero unde,
                                                                    sed, incidunt et ea quo dolore laudantium consectetur!
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade active in" id="tab2">
                                                <div class="media">
                                                    <div class="media-body">
                                                        <div class="list-o">
                                                            <h4>Donation</h4>
                                                            <hr>
                                                            <p>
                                                                Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!Lorem ipsum dolor sit amet, consectetur adipisicing
                                                                elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </p>
                                                            <ul>
                                                                <li>
                                                                    <i class="fa fa-arrow-right"></i>Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                    temporibus qui quibusdam, recusandae sit vero unde,
                                                                    sed, incidunt et ea quo dolore laudantium consectetur!
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-arrow-right"></i>Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                    temporibus qui quibusdam, recusandae sit vero unde,
                                                                    sed, incidunt et ea quo dolore laudantium consectetur!
                                                                </li>
                                                                <li>
                                                                    <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                    temporibus qui quibusdam, recusandae sit vero unde,
                                                                    sed, incidunt et ea quo dolore laudantium consectetur!
                                                                </li>
                                                            </ul>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab3">
                                                <div class="media-body">
                                                    <div class="list-o">
                                                        <h4>Education</h4>
                                                        <hr>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                            temporibus qui quibusdam, recusandae sit vero unde,
                                                            sed, incidunt et ea quo dolore laudantium consectetur!Lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                            temporibus qui quibusdam, recusandae sit vero unde,
                                                            sed, incidunt et ea quo dolore laudantium consectetur!
                                                        </p>
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i>Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab4">
                                                <div class="media-body">
                                                    <div class="list-o">
                                                        <h4>User Friendly</h4>
                                                        <hr>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                            temporibus qui quibusdam, recusandae sit vero unde,
                                                            sed, incidunt et ea quo dolore laudantium consectetur!Lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                            temporibus qui quibusdam, recusandae sit vero unde,
                                                            sed, incidunt et ea quo dolore laudantium consectetur!
                                                        </p>
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i>Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="tab-pane fade" id="tab5">
                                                <div class="media-body">
                                                    <div class="list-o">
                                                        <h4>Quick Support</h4>
                                                        <hr>
                                                        <p>
                                                            Lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                            temporibus qui quibusdam, recusandae sit vero unde,
                                                            sed, incidunt et ea quo dolore laudantium consectetur!Lorem ipsum dolor sit amet, consectetur adipisicing
                                                            elit. Sunt ut voluptatum eius sapiente, totam reiciendis
                                                            temporibus qui quibusdam, recusandae sit vero unde,
                                                            sed, incidunt et ea quo dolore laudantium consectetur!
                                                        </p>
                                                        <ul>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                            <li>
                                                                <i class="fa fa-arrow-right"></i> Sunt ut voluptatum eius sapiente, totam reiciendis
                                                                temporibus qui quibusdam, recusandae sit vero unde,
                                                                sed, incidunt et ea quo dolore laudantium consectetur!
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--/.tab-content-->
                                    </div>
                                    <!--/.media-body-->
                                </div>
                                <!--/.media-->
                            </div>
                            <!-- END Nav Tab -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--End About  -->
    <!--Testimonials-->
    <div class="testimonials-section style-two">
        <div class="container">
            <div class="section-title center">
                <h2>Our<strong> Testimonials</strong></h2>
                <hr>
            </div>

            <!--Slider-->
            <div class="testimonials-slider testimonials-carousel">

                <!--Slide-->
                <article class="slide-item">
                    <div class="info-box">
                        <figure class="image-box"><img src="/assets/img/t-1.jpg" alt=""></figure>
                        <h3>Mark Doe</h3>
                        <p class="designation">Rome, Italy</p>
                    </div>
                    <div class="slide-text">
                        <div class="testimonials-s">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.."</div>
                    </div>
                </article>

                <!--Slide-->
                <article class="slide-item">
                    <div class="info-box">
                        <figure class="image-box"><img src="/assets/img/t-2.jpg" alt=""></figure>
                        <h3>Joan Pine</h3>
                        <p class="designation">Business Man</p>
                    </div>
                    <div class="slide-text">
                        <div class="testimonials-s">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.."</div>
                    </div>
                </article>

                <!--Slide-->
                <article class="slide-item">
                    <div class="info-box">
                        <figure class="image-box"><img src="/assets/img/t-3.jpg" alt=""></figure>
                        <h3>Petter Noi</h3>
                        <p class="designation">Co- Founder </p>
                    </div>
                    <div class="slide-text">
                        <div class="testimonials-s">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.."</div>
                    </div>
                </article>

                <!--Slide-->
                <article class="slide-item">
                    <div class="info-box">
                        <figure class="image-box"><img src="/assets/img/t-4.jpg" alt=""></figure>
                        <h3>Joan Doi </h3>
                        <p class="designation">Business Man</p>
                    </div>
                    <div class="slide-text">
                        <div class="testimonials-s">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.."</div>
                    </div>
                </article>

                <!--Slide-->
                <article class="slide-item">
                    <div class="info-box">
                        <figure class="image-box"><img src="/assets/img/t-5.jpg" alt=""></figure>
                        <h3>Mark Pine</h3>
                        <p class="designation">Business Man</p>
                    </div>
                    <div class="slide-text">
                        <div class="testimonials-s">"Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since.."</div>
                    </div>
                </article>
            </div>
        </div>
    </div>
    <!--END Testimonials-->
    <!-- Video Background  -->
    <div id="video" class="html-video-i">
        <div class="home_overlay">
            <video class="text-center" muted="" autoplay="" loop="">
                <!-- MP4 for Safari, IE9, iPhone, iPad, Android, and Windows Phone 7 -->
                <source type="video/mp4" src="videos/girls.mp4">
                Your browser does not support the video tag. </source>
            </video>
            <div class="video-text video-back">
                <h1 class="wow fadeInDown">
                    <span class="top-heading">
                        Save a life <strong>
                            <br>
                            <span class="pink"><strong>Donation money</strong> </span>
                        </strong>
                    </span>
                </h1>
                <p class="para-w">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente,<br>
                    totam reiciendis temporibus
                    qui quibusdam, recusandae sit vero
                </p>
            </div>
        </div>
    </div>
    <!-- End Video Background -->
    <!-- Team  -->
    <div id="team" class="team">
        <div class="container">
            <div class="section-title  center">
                <h2>
                    WE ARE <br>
                    <strong> NONPROFIT TEAM </strong>
                </h2>
                <hr>
                <p class="para">
                    Lorem Ipsum is simply dummy text of the printing and typesetting
                    industry. <strong>Lorem Ipsum has been the industry's standard dummy </strong>text
                    ever since the 1500s, when an unknown printer took a galley of type and
                    scrambled it to make a type specimen book.
                </p>
            </div>
            <div class="row">
                <div class="col-sm-12">
                    <div class="ms-staff-carousel">
                        <div class="master-slider" id="teamslider">
                            <div class="ms-slide">
                                <img src="assets/master-slider/style/blank.gif" data-src="/assets/img/team/team-1.jpg" alt="">
                                <div class="ms-info text-center">
                                    <h3>Team Member Name</h3>
                                    <h4>Businessmann</h4>
                                    <ul class="ms-socials list-inline">
                                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--SLIDE TEAM-->
                            <div class="ms-slide">
                                <img src="assets/master-slider/style/blank.gif" data-src="/assets/img/team/team-2.jpg" alt="">
                                <div class="ms-info text-center">
                                    <h3>Team Member Name</h3>
                                    <h4>Businessmann</h4>
                                    <ul class="ms-socials list-inline">
                                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--SLIDE TEAM-->
                            <div class="ms-slide">
                                <img src="assets/master-slider/style/blank.gif" data-src="/assets/img/team/team-3.jpg" alt="">
                                <div class="ms-info text-center">
                                    <h3>Team Member Name</h3>
                                    <h4>Businessmann</h4>
                                    <ul class="ms-socials list-inline">
                                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--SLIDE TEAM-->
                            <div class="ms-slide">
                                <img src="assets/master-slider/style/blank.gif" data-src="/assets/img/team/team-4.jpg" alt="">
                                <div class="ms-info text-center">
                                    <h3>Team Member Name</h3>
                                    <h4>Businessmann</h4>
                                    <ul class="ms-socials list-inline">
                                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--SLIDE TEAM-->
                            <div class="ms-slide">
                                <img src="assets/master-slider/style/blank.gif" data-src="/assets/img/team/team-1.jpg" alt="">
                                <div class="ms-info text-center">
                                    <h3>Team Member Name</h3>
                                    <h4>Businessmann</h4>
                                    <ul class="ms-socials list-inline">
                                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--SLIDE TEAM-->
                            <div class="ms-slide">
                                <img src="assets/master-slider/style/blank.gif" data-src="/assets/img/team/team-2.jpg" alt="">
                                <div class="ms-info text-center">
                                    <h3>Team Member Name</h3>
                                    <h4>Businessmann</h4>
                                    <ul class="ms-socials list-inline">
                                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--SLIDE TEAM-->
                            <div class="ms-slide">
                                <img src="assets/master-slider/style/blank.gif" data-src="/assets/img/team/team-3.jpg" alt="">
                                <div class="ms-info text-center">
                                    <h3>Team Member Name</h3>
                                    <h4>Businessmann</h4>
                                    <ul class="ms-socials list-inline">
                                        <li><a href="#"><i class="fa fa-facebook facebook"></i></a></li>
                                        <li><a href="#"><i class="fa fa-twitter twitter"></i></a></li>
                                        <li><a href="#"><i class="fa fa-youtube youtube"></i></a></li>
                                        <li><a href="#"><i class="fa fa-linkedin linkedin"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                            <!--SLIDE TEAM-->
                        </div>
                        <!--- END MASTER SLIDER -->
                        <div class="ms-staff-info" id="staff-info"> </div>
                    </div>
                    <!--- END MS STAFF CAROUSEL -->
                </div>
                <!--- END COL -->
            </div>
            <!--- END ROW -->
        </div>
        <!--- END CONTAINER -->
    </div>
    <!-- END TEAM -->
    <!-- Help Monthly  -->
    <div id="price">
        <div class="price div-padding dark-bg">
            <div class="container">
                <div class="section-title center">
                    <h2 class="white "> Help Us <strong>Monthly</strong></h2>
                    <hr>
                    <p class="para-w">
                        Lorem Ipsum is simply dummy text of the printing and typesetting

                        industry. <strong>Lorem Ipsum has been the industry's standard dummy </strong>text

                        ever since the 1500s, when an unknown printer took a galley of type and

                        scrambled it to make a type specimen book.
                    </p>
                </div>
                <div class="row">
                    <div class="price-list">
                        <div class="col-md-4">
                            <div class="price-table">
                                <div class="rate">$150</div>
                                <h2>Education</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <ul>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                </ul>
                                <a href="#download" class="btn btn-default buy-now"><i class="fa fa-heart-o"></i>Donation</a>
                            </div>
                            <!-- end .price-table -->
                        </div>
                        <!-- end .price-list> .col-md-4 (1) -->

                        <div class="col-md-4">
                            <div class="price-table featured-price">
                                <div class="rate">$100</div>
                                <h2>Cloth</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <ul>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                </ul>
                                <a href="#download" class="btn btn-default buy-now"><i class="fa fa-heart-o"></i>Donation</a>
                            </div>
                            <!-- end .price-table -->
                        </div>
                        <!-- end .price-list> .col-md-4 (2) -->

                        <div class="col-md-4">
                            <div class="price-table">
                                <div class="rate">$99</div>
                                <h2>Food</h2>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <ul>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                    <li><i class="fa fa-check"></i>Lorem ipsum dolor sit amet,</li>
                                </ul>
                                <a href="#download" class="btn btn-default buy-now"><i class="fa fa-heart-o"></i>Donation</a>
                            </div>
                            <!-- end .price-table -->
                        </div>
                        <!-- end .price-list> .col-md-4 (3) -->

                    </div>
                    <!-- end .price-list -->
                </div>
                <!-- end .container> .row -->

            </div>
            <!-- end .container -->
        </div>
        <!-- end .price -->
    </div>
    <!-- END Help Monthly -->
    <!--Blog News Section-->
    <div id="blog" class="blog-div-area">
        <div class="container">
            <div class="row">
                <div class="section-title center text-center">
                    <h2><strong>Our </strong> Blog</h2>
                    <hr>
                    <div class="mid"></div>
                    <p class="para">
                        Lorem Ipsum is simply dummy text of the printing and typesetting
                        industry. <strong>Lorem Ipsum has been the industry's standard dummy </strong>text
                        ever since the 1500s, when an unknown printer took a galley of type and
                        scrambled it to make a type specimen book.
                    </p>
                </div>
            </div>
            <div class="blog-content-div">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="feature-images">
                                <a href="#"> <img alt="blog" src="/assets/img/blog/1.jpg"> </a>
                                <div class="overley"></div>
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Blog Title Here</a></h3>
                                <ul>
                                    <li>blog Item Rating : </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li class="comments"><a href="#">2 comments</a> </li>
                                </ul>
                                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratione saepe impedit, maxime, earum omnis quia sint. Excepturi aliquid, necessitatibus dolore.</p>
                                <a class="theme-btn btn-style-pink" href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="feature-images">
                                <a href="#"> <img alt="blog" src="/assets/img/blog/2.jpg"> </a>
                                <div class="overley"></div>
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Blog Title Here</a></h3>
                                <ul>
                                    <li>blog Item Rating : </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li class="comments"><a href="#">3 comments</a> </li>
                                </ul>
                                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratione saepe impedit, maxime, earum omnis quia sint. Excepturi aliquid, necessitatibus dolore.</p>
                                <a class="theme-btn btn-style-pink" href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-blog">
                            <div class="feature-images">
                                <a href="#"> <img alt="blog" src="/assets/img/blog/3.jpg"> </a>
                                <div class="overley"></div>
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Blog Title Here</a></h3>
                                <ul>
                                    <li>blog Item Rating : </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li class="comments"><a href="#">2 comments</a> </li>
                                </ul>
                                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratione saepe impedit, maxime, earum omnis quia sint. Excepturi aliquid, necessitatibus dolore.</p>
                                <a class="theme-btn btn-style-pink" href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="single-blog padding-top">
                            <div class="feature-images">
                                <a href="#"> <img alt="blog" src="/assets/img/blog/4.jpg"> </a>
                                <div class="overley"></div>
                            </div>
                            <div class="blog-content">
                                <h3><a href="#">Blog Title Here</a></h3>
                                <ul>
                                    <li>blog Item Rating : </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li><a href="#"><i class="fa fa-star"></i></a> </li>
                                    <li class="comments"><a href="#">4 comments</a> </li>
                                </ul>
                                <p class="blog-content">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratione saepe impedit, maxime, earum omnis quia sint. Excepturi aliquid, necessitatibus dolore.</p>
                                <a class="theme-btn btn-style-pink" href="#">Read more <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Blog News Section-->
    <!-- Volunteer Heading -->
    <div class="bg-donation ">
        <div class="text-con-app  low-back-up">
            <div class="container">
                <div class="row">
                    <div class="lead col-lg-6 col-lg-offset-3 col-xm-offset-0 col-xm-12 text-center donation-back ">
                        <div class="donation-text">
                            <span class="small-do">Become a</span> <br>
                            <strong>Volunteer</strong>
                        </div>
                        <p class="donation-p">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam
                            quam odio quisquam cupiditate dicta
                        </p>
                        <a href="#" class="theme-btn btn-style-pinks">Read More <i class="fa fa-long-arrow-right" aria-hidden="true"></i> </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Volunteer -->
    <!--Sponsors Section-->
    <div class="sponsors">
        <div class="container">
            <div class="slider-outer">
                <!--Sponsors Slider-->
                <ul class="sponsors-slider">
                    <li><a href="#"><img src="/assets/img/clients/1.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/assets/img/clients/2.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/assets/img/clients/3.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/assets/img/clients/4.jpg" alt=""></a></li>
                    <li><a href="#"><img src="/assets/img/clients/2.jpg" alt=""></a></li>
                </ul>
            </div>
        </div>
    </div>
    <!-- Demo Heading -->
    <div class="main-area top-download text-center ">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <p class="top-btn-text">
                        The most impressive template you will find.Get
                        it now!
                    </p>
                </div>
                <div class="col-md-4 "> <a href="#" class="theme-btn btn-style-white"><i class="fa fa-pencil-square-o"></i> More Info...</a> </div>
            </div>
        </div>
    </div>
    <!-- END Demo Heading -->
    <!-- Footer Start  -->
    <div class="footer-section-area padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="text-center"><a href="home-1.html" class="menuzord-brand"><img src="/assets/img/logo-2.png" alt="#"></a></div>
                    <div class="clearfix"></div>
                    <p class="white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus eveniet nobis aliquam quam odio quisquam cupiditate dicta recusandae ratio</p>
                    <ul>
                        <li><a href="#"> <i class="fa fa-map-marker fa-2x"></i> 321 Awesome New York, NY 17022 </a></li>
                        <li><a href="#"><i class="fa fa-envelope-o fa-2x"></i>info@domain.com</a></li>
                        <li><a href="#"><i class="fa fa-phone fa-2x"></i>1800-1212-1212 , 256226-25</a></li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="title">
                        <h3>Quick Links</h3>
                    </div>
                    <div class="information">
                        <ul>
                            <li><a href="#"> About Our Charity</a></li>
                            <li><a href="#"> Recent Causes</a></li>
                            <li><a href="#"> Our Volunteers</a></li>
                            <li><a href="#"> Our Donators</a></li>
                            <li><a href="index2.html#">Contact Info</a></li>
                            <li><a href="#">Terms of Service</a></li>
                            <li><a href="#">Privacy Policy</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                    <div class="title">
                        <h3>Our Services</h3>
                    </div>
                    <div class="our-service">
                        <ul>
                            <li><a href="#"> Education</a></li>
                            <li><a href="index2.html#">Food Supply</a></li>
                            <li><a href="index2.html#">Fundrising</a></li>
                            <li><a href="index2.html#">Email Marketing</a></li>
                            <li><a href="index2.html#"> Health Care</a></li>
                            <li><a href="index2.html#">Get Involved</a></li>
                            <li><a href="index2.html#"> Join Us</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="title">
                        <h3>Popular Posts</h3>
                    </div>
                    <div class="popular-post">
                        <ul>
                            <li> <span class="post-date">26 September, 2016</span> <a href="index2.html#">Optimizing your Website for Mobile Searchwhen an unkn.</a> </li>
                            <li> <span class="post-date">25 September, 2016</span> <a href="index2.html#">Optimizing your Website for Mobile Searchwhen an unkn.</a> </li>
                            <li> <span class="post-date">24 September, 2016</span> <a href="index2.html#">Optimizing your Website for Mobile Searchwhen an unkn.</a> </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Footer -->
    <!-- Copyright Start  -->
    <div class="copy-right-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12">
                    <div class="copy-right">
                        <p>Charity Multipages Teamplate with © 2017-18 Design </p>
                    </div>
                </div>
                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                    <div class="social-media">
                        <ul>
                            <li><a href="index2.html#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="index2.html#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="index2.html#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                            <li><a href="index2.html#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
                            <li><a href="index2.html#"><i class="fa fa-skype" aria-hidden="true"></i></a></li>
                            <li><a href="index2.html#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Copyright -->
    <!--Donate Popup-->
    <div class="modal fade pop-box" id="donate-popup" tabindex="-1" role="dialog" aria-labelledby="donate-popup" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <!--Donation div-->
                <div class="donation-div">
                    <div class="donation-plz">
                        <form method="post" action="contact.html">

                            <!--Form Portlet-->
                            <div class="form-portlet">
                                <h3>How Much Would you like to Donate?</h3>
                                <div class="row clearfix">
                                    <div class="form-group col-lg-7 col-md-12 col-xs-12 clearfix">
                                        <div class="radio-select">
                                            <input type="radio" name="sel-amount" id="amount-1">
                                            <label for="amount-1">$10</label>
                                        </div>
                                        <div class="radio-select">
                                            <input type="radio" name="sel-amount" id="amount-2" checked="">
                                            <label for="amount-2">$25</label>
                                        </div>
                                        <div class="radio-select">
                                            <input type="radio" name="sel-amount" id="amount-3">
                                            <label for="amount-3">$50</label>
                                        </div>
                                        <div class="radio-select">
                                            <input type="radio" name="sel-amount" id="amount-4">
                                            <label for="amount-4">$100</label>
                                        </div>
                                        <div class="radio-select">
                                            <input type="radio" name="sel-amount" id="amount-5">
                                            <label for="amount-5">$150</label>
                                        </div>
                                    </div>
                                    <div class="form-group other-amount col-lg-5 col-md-8 col-xs-12 padd-top-10">
                                        <input type="text" name="other-amount" value="" placeholder="Or Other Amount">
                                    </div>
                                </div>
                            </div>
                            <br>

                            <!--Form Portlet-->
                            <div class="form-portlet">
                                <h4>Billing Information</h4>
                                <div class="row clearfix">
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">First Name <span class="required">*</span></div>
                                        <input type="text" name="name" value="" placeholder="First Name" required="">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">Last Name <span class="required">*</span></div>
                                        <input type="text" name="name" value="" placeholder="Last Name" required="">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">Email <span class="required">*</span></div>
                                        <input type="email" name="name" value="" placeholder="Email" required="">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">Phone <span class="required">*</span></div>
                                        <input type="text" name="name" value="" placeholder="Phone" required="">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">Address 1 <span class="required">*</span></div>
                                        <input type="text" name="name" value="" placeholder="Address 1" required="">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">Address 2 <span class="required">*</span></div>
                                        <input type="text" name="name" value="" placeholder="Address 2" required="">
                                    </div>
                                </div>
                            </div>
                            <br>

                            <!--Form Portlet-->
                            <div class="form-portlet">
                                <h4>Payment Information</h4>
                                <div class="payment-option-logo"><img class="/assets/img-responsive" src="images/resource/payment-logos.png" alt=""></div>
                                <br>
                                <div class="row clearfix">
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">Card Number <span class="required">*</span></div>
                                        <input type="text" name="name" value="" placeholder="Card Number" required="">
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">Card Holder Name <span class="required">*</span></div>
                                        <input type="text" name="name" value="" placeholder="Card Holder Name" required="">
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-xs-12">
                                        <div class="field-label">Expire Date <span class="required">*</span></div>
                                        <select>
                                            <option>01
                                            <option>02
                                            <option>03
                                            <option>04
                                            <option>05
                                            <option>06
                                            <option>07
                                            <option>08
                                            <option>09
                                            <option>10
                                            <option>11
                                            <option>12
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-3 col-md-3 col-xs-12">
                                        <div class="field-label">&nbsp;</div>
                                        <select>
                                            <option>2016
                                            <option>2017
                                            <option>2018
                                            <option>2019
                                            <option>2020
                                        </select>
                                    </div>
                                    <div class="form-group col-lg-6 col-md-6 col-xs-12">
                                        <div class="field-label">Security Code (CVC) <span class="required">*</span></div>
                                        <input type="text" name="name" value="" placeholder="Security Code" required="">
                                    </div>
                                </div>
                            </div>
                            <div class="text-left">
                                <button type="submit" class="theme-btn btn-style-two">Donate Now</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- END Donate Popup-->
    <!-- All Template -->
    <div class="buy-theme alt-font xs-display-none"><a href="index.html" target="_blank"><i class="fa fa-share"></i> <span>All Teamplate</span></a></div>
    <!-- Back to Top -->
    <a href="#" id="back-to-top" title="Back to top"><img src="/assets/img/top-arrow.png" alt=""></a>
    <!-- js file  -->
    <script type="text/javascript" src="/assets/js/jquery.min.js"></script>
    <!-- Bootstrap JS  -->
    <script type="text/javascript" src="/assets/js/bootstrap.js"></script>
    <!-- Prettyphoto JS  -->
    <script type="text/javascript" src="/assets/js/jquery.prettyphoto.js"></script>
    <!-- Menu JS  -->
    <script type="text/javascript" src="/assets/js/menuzord.js"></script>
    <!-- OWL JS  -->
    <script type="text/javascript" src="/assets/js/owl.js"></script>
    <!--master slider-->
    <script src="master-slider/js/masterslider.min.js"></script>
    <!-- scripts -->
    <script type="text/javascript" src="/assets/js/particles.js"></script>
    <script type="text/javascript" src="/assets/js/app.js"></script>
    <!-- Easypiechart JS  -->
    <script type="text/javascript" src="/assets/js/easypiechart.js"></script>
    <!-- main js -->
    <script type="text/javascript" src="/assets/js/main.js"></script>
</body>
</html>
